build/
*.o
*.mod
multivariate_modular
release/
*.tar.gz

data/output/*
!data/output/.gitkeep

visualization/plots/*
!visualization/plots/.gitkeep

tests/artifacts/*
!tests/artifacts/.gitkeep

__pycache__/
*.pyc
.vscode/
